@use '../utils' as *;

.btn-brand {
    border: none;
    outline: none;
    padding: 20px;
    margin: 0;
    border-radius: 4px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: initial;
    font-weight: 500;
    color: inherit;
    cursor: pointer;
    user-select: none;
    background: transparent;
    @include transition;

    & > svg {
        margin-right: 8px;
    }

    &-orange {
        color: #fff;
        background: var(--secondary);

        &:hover {
            background: var(--accent);
        }
    }
}

